@using Sem_Veterina.Controllers
@using Sem_Veterina.Entity
@model AdminViewModel

@{
    ViewData["Title"] = "Správa klinik";
    Layout = "_AdminLayout";
}

<div class="admin-container">
    <div class="filter-section">
        <form class="filter" asp-action="Kliniky" method="get">
            <div class="filter-item">
                <label for="address">Adresa</label>
                <input class="filter-input filter-input-address" type="text" name="address"
                    placeholder="Studentska 345, Pardubice 53003" />
            </div>
            <div class="filter-item">
                <label for="phone">Tel. číslo</label>
                <input class="filter-input filter-input-number" type="text" name="phone"
                    placeholder="+420 777 777 777" />
            </div>
            <div class="filter-buttons">
                <button class="btn-filter" type="submit"><img src="~/imgs/search.svg" alt="Vyhledavání"></button>
                <button class="btn-filter" type="submit"><img src="~/imgs/reset.svg" alt="Vymazat filter"></button>
                <a href="/Kliniky">Reset</a>
            </div>
        </form>
    </div>
    <div class="data-section" style="display: flex;">
        <div class="left-panel" style="flex: 1; padding: 10px;">
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Název</th>
                        <th>Adresa</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var klinika in Model.Kliniky)
                    {
                        <tr>
                            <td>@klinika.ID_KLINIKA</td>
                            <td>@klinika.NÁZEV</td>
                            <td>@klinika.ADRESA</td>
                        </tr>
                    }
                </tbody>
            </table>
            <ul>
                @foreach (var klinika in Model.Kliniky)
                {
                    <li>
                        <a asp-action="KlinikaDetail" asp-route-id="@klinika.ID_KLINIKA" data-ajax="true"
                            data-ajax-mode="replace" data-ajax-update="#detailPanel">
                            @klinika.NÁZEV
                        </a>
                    </li>
                }
            </ul>
        </div>
        <div class="right-panel" id="detailPanel" style="flex: 1; padding: 10px;">

            <h3>Úprava kliniky</h3>
            <h4>Detaily kliniky</h4>
            <form method="post" action="/Kliniky/Edit">
                <input type="text" name="Nazev" placeholder="Název kliniky" />
                <input type="text" name="Adresa" placeholder="Adresa" />
                <input type="tel" name="Telefon" placeholder="Telefon" />
                <button type="submit">Uložit</button>
            </form>
        </div>
    </div>
</div>
