@using Sem_Veterina.Controllers
@using Sem_Veterina.Entity
@model LogovaniViewModel
@{
    ViewData["Title"] = "Správa logování";
    Layout = "_AdminLayout";
}

<div class="admin-container">
    <div class="filter-section">
        <form class="filter" asp-action="Uzivatele" method="get">
            <div class="filter-item">
                <label for="tableName">Tabulka</label>
                @* filter-input-address *@
                <input class="filter-input" type="text" name="tableName" placeholder="Kliniky" />
            </div>
            <div class="filter-item">
                <label for="operation">Operace</label>
                <input class="filter-input" type="text" name="operation" placeholder="Insert" />
            </div>
            @* <div class="filter-item">
                <label for="date">Datum</label>
                <input class="filter-input" type="text" name="date" placeholder="Insert" />
            </div> *@
            <div class="filter-buttons">
                <button class="btn-filter" type="submit">
                    <img src="~/imgs/search.svg" alt="Vyhledavání">
                </button>
                <button class="btn-filter" type="submit">
                    <img src="~/imgs/reset.svg" alt="Vymazat filter" onclick="resetFormAndSubmit()">
                </button>
            </div>
        </form>
    </div>
    <div class="data-section">
        <div class="left-panel">
            <table class="table-list">
                <thead class="table-list-header">
                    <tr>
                        <th class="table-list-column-name">Název</th>
                        <th class="table-list-column-name">Operace</th>
                        @* <th class="table-list-column-name">Sloupec</th> *@
                        <th class="table-list-column-name">Čas provedení</th>
                        <th class="table-list-column-name">Popis změny</th>
                    </tr>
                </thead>
                <tbody class="table-list-body">
                    @foreach (var login in Model.Logovani)
                    {
                        <tr class="table-list-body-row">
                            <td class="table-list-body-column">@login.NAZEV_TABULKY</td>
                            <td class="table-list-body-column">@login.OPERACE</td>
                            @* <td class="table-list-body-column">@login.ID_ZAZNAMU</td> *@
                            <td class="table-list-body-column">@login.CAS_PROVEDENI</td>
                            <td class="table-list-body-column">@login.POPIS_ZMENY</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="right-panel" id="detailPanel">
            <form id="create-form" class="right-panel-form">
                <div class="right-panel-form-item filter-item">
                    <label for="tableName">Název tabulky</label>
                    <input class="right-panel-form-input filter-input" type="text" name="tableName"
                        placeholder="Kliniky" required />
                </div>
                <div class="right-panel-form-item filter-item">
                    <label for="operation">Operace</label>
                    <input class="right-panel-form-input filter-input" type="text" name="operation" placeholder="Insert"
                        required />
                </div>
                <div class="right-panel-form-item filter-item">
                    <label for="date">Čas provedení</label>
                    <input class="right-panel-form-input filter-input" type="text" name="date"
                        placeholder="22.2.2002" />
                </div>

                <div class="right-panel-form-item filter-item">
                    <label for="descrip">Popis změny</label>
                    <input class="right-panel-form-input filter-input" type="email" name="descrip" />
                </div>
            </form>
        </div>
    </div>
    <footer class="footer-klinika">
        <ul class="crud-list">
            <li class="crud-list-item"><button class="crud-list-btn btn-filter">Vytvořit</button></li>
            <li class="crud-list-item"><button class="crud-list-btn btn-filter">Editovat</button></li>
            <li class="crud-list-item"><button class="crud-list-btn btn-filter">Odstranit</button></li>
        </ul>
    </footer>
</div>
<script type="module" src="~/js/filterUtils.js"></script>
@* todo : pridat oveření vstupu z inputu *@