@using Sem_Veterina.Controllers
@using Sem_Veterina.Entity
@model MajiteleViewModel
@{
    ViewData["Title"] = "Správa majitelů";
    Layout = "_AdminLayout";
}

<div class="admin-container">
    <div class="filter-section">
        <form class="filter" asp-action="Majitele" method="get">
            <div class="filter-item">
                <label for="name">Jméno</label>
                <input class="filter-input filter-input-address" type="text" name="name" placeholder="Martin" />
            </div>
            <div class="filter-item">
                <label for="lastname">Příjmení</label>
                <input class="filter-input filter-input-number" type="text" name="lastname" placeholder="Liješek" />
            </div>
            <div class="filter-item">
                <label for="phone">Tel. číslo</label>
                <input class="filter-input filter-input-number" type="text" name="phone" placeholder="777 777 777" />
            </div>
            <div class="filter-buttons">
                <button class="btn-filter" type="submit">
                    <img src="~/imgs/search.svg" alt="Vyhledavání">
                </button>
                <button class="btn-filter" type="submit">
                    <img src="~/imgs/reset.svg" alt="Vymazat filter" onclick="resetFormAndSubmit()">
                </button>
            </div>
        </form>
    </div>
    <div class="data-section">
        <div class="left-panel">
            <table class="table-list">
                <thead class="table-list-header">
                    <tr>
                        <th class="table-list-column-name">ID</th>
                        <th class="table-list-column-name">Jméno</th>
                        <th class="table-list-column-name">Příjmení</th>
                        <th class="table-list-column-name">Tel.číslo</th>
                        @* <th class="table-list-column-name">Zvíře ID</th>
                        <th class="table-list-column-name">Zvíře Jméno</th> *@
                    </tr>
                </thead>
                <tbody class="table-list-body">
                    @foreach (var majitel in Model.Majitele)
                    {
                        <tr class="table-list-body-row">
                            <td class="table-list-body-column">@majitel.ID_KLINIKA</td>
                            <td class="table-list-body-column">@majitel.JMÉNO</td>
                            <td class="table-list-body-column">@majitel.PŘÍJMENÍ</td>
                            <td class="table-list-body-column">@majitel.TELEFONNÍ_ČÍSLO</td>
                            @* <td class="table-list-body-column">@majitel.ZVÍŘATA.First().ID_ZVÍŘE</td>
                        <td class="table-list-body-column">@majitel.ZVÍŘATA.First().JMÉNO</td> *@
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="right-panel" id="detailPanel">
            <form class="right-panel-form" method="post" action="/Majitele/Edit">
                <div class="right-panel-form-item filter-item">
                    <label for="id">ID</label>
                    <input class="right-panel-form-input-id filter-input" type="text" name="id" placeholder="42" />
                </div>
                <div class="right-panel-form-item filter-item">
                    <label for="name">Název</label>
                    <input class="right-panel-form-input filter-input" type="text" name="name" placeholder="VetCare" />
                </div>
                <div class="right-panel-form-item filter-item">
                    <label for="address">Adresa</label>
                    <input class="right-panel-form-input filter-input" type="text" name="address"
                        placeholder="Studentska 345, Pardubice 53003" />
                </div>
                <div class="right-panel-form-item filter-item">
                    <label for="phone">Telefonní číslo</label>
                    <input class="right-panel-form-input filter-input" type="text" name="phone"
                        placeholder="777 777 777" />
                </div>
                <div class="right-panel-form-item filter-item">
                    <label for="email">Email</label>
                    <input class="right-panel-form-input filter-input" type="text" name="email"
                        placeholder="vetcare@gmail.com" />
                </div>
            </form>
        </div>
    </div>
    <footer class="footer-klinika">
        <ul class="crud-list">
            <li class="crud-list-item"><button class="crud-list-btn btn-filter">Vytvořit</button></li>
            <li class="crud-list-item"><button class="crud-list-btn btn-filter">Editovat</button></li>
            <li class="crud-list-item"><button class="crud-list-btn btn-filter">Odstranit</button></li>
        </ul>
    </footer>
</div>
<script type="module" src="~/js/filterUtils.js"></script>
@* todo : pridat oveření vstupu z inputu *@