@using Sem_Veterina.Controllers
@using Sem_Veterina.Entity
@model Sem_Veterina.Entity.EntityViewModel
@{
    ViewData["Title"] = "Home Page";
}

<h2>Výpis Entit</h2>

<form asp-action="LoadEntity" method="post">
    <label for="entitySelect">Vyberte entitu:</label>
    <select id="entitySelect" name="selectedEntity" asp-for="SelectedEntity">
        @foreach (var entity in Model.AvailableEntities)
        {
            @if (Model.SelectedEntity == entity)
            {
                <option value="@entity" selected>@entity</option>
            }
            else
            {
                <option value="@entity">@entity</option>
            }
        }
    </select>
    <button type="submit">Načíst</button>
</form>

@if (Model.SelectedEntity == "Klinika" && Model.Kliniky != null)
{
    <h3>Kliniky</h3>
    <ul>
    @foreach (var klinika in Model.Kliniky)
        {
            <li>@klinika.NÁZEV - @klinika.ADRESA - @klinika.TELEFONNÍ_ČÍSLO</li>
        }
    </ul>
}
else if (Model.SelectedEntity == "Majitel" && Model.Majitele != null)
{
    <h3>Majitelé</h3>
    <ul>
    @foreach (var majitel in Model.Majitele)
        {
            <li>@majitel.JMÉNO @majitel.PŘÍJMENÍ - @majitel.ADRESA - @majitel.TELEFONNÍ_ČÍSLO</li>
        }
    </ul>
}
else if (Model.SelectedEntity == "Zvire" && Model.Zvirata != null)
{
    <h3>Zvířata</h3>
    <ul>
    @foreach (var zvire in Model.Zvirata)
        {
            <li>@zvire.JMÉNO - @zvire.DRUH - @zvire.VĚK let</li>
        }
    </ul>
}
else if (Model.SelectedEntity == "Zdravotni Akce" && Model.ZdravotniAkce != null)
{
    <h3>Zdravotní Akce</h3>
    <ul>
    @foreach (var akce in Model.ZdravotniAkce)
        {
            <li>@akce.DATUM - @akce.POPIS_AKCE - Výsledek: @akce.VÝSLEDEK</li>
        }
    </ul>
}
else if (Model.SelectedEntity == "Pristroj" && Model.Pristroje != null)
{
    <h3>Přístroje</h3>
    <ul>
    @foreach (var pristroj in Model.Pristroje)
        {
            <li>@pristroj.NÁZEV - Funkce: @pristroj.FUNKCE</li>
        }
    </ul>
}
else if (Model.SelectedEntity == "Lecby" && Model.Lecby != null)
{
    <h3>Léčby</h3>
    <ul>
    @foreach (var lecba in Model.Lecby)
        {
            <li>@lecba.POPIS - ID Diagnózy: @lecba.ID_DIAGNÓZA</li>
        }
    </ul>
}
else if (Model.SelectedEntity == "Leky" && Model.Leky != null)
{
    <h3>Léky</h3>
    <ul>
    @foreach (var lek in Model.Leky)
        {
            <li>@lek.NÁZEV - Dávkování: @lek.DÁVKOVÁNÍ - Pokyny: @lek.POKYNY</li>
        }
    </ul>
}
else if (Model.SelectedEntity == "Personal" && Model.Personal != null)
{
    <h3>Personál</h3>
    <ul>
    @foreach (var personal in Model.Personal)
        {
            <li>@personal.JMÉNO @personal.PŘÍJMENÍ - Specializace: @personal.SPECIALIZACE - Telefon: @personal.TELEFONNÍ_ČÍSLO
            </li>
        }
    </ul>
}
